<footer class="main-footer">
    <div class="container">
        <div style="padding-top:30px;" class="row">


            <div class="col-md-4 col-sm-4">
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        <h4 class="footer-title">International</h4>
                        <p class="footer-subtitle">
                           <span>Language</span>
                           <span color="#fff" style="margin-left:15px;" class="glyphicon glyphicon-globe"></span>
                        </p>
                        
                        <div class="row">
                            <div class="col-md-7 col-sm-9 col-xs-12">
                                <select class="form-control footer-select ">    
                                    <option selected="" value="es">Español</option>
                                    <option value="en">Ingles</option>
                                    <option value="de">Aleman</option>
                                    <option value="it">Italiano</option>
                                    <option value="fr">Frances</option>
                                </select>
                            </div>
                        </div>
                        <p class="footer-subtitle">Currency</p>
                        <div class="row">
                            <div class="col-md-7 col-sm-9 col-xs-12">
                                <select class="form-control footer-select">
                                   <option selected="" value="mxn">MEX</option>
                                    <option value="dl">USD</option>
                                    <option value="eu">EUR</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-4 col-sm-4">
                <h4 class="hidden-xs footer-title">About</h4>
                <div class="row">
                    <ul style="list-style:none;padding-left:0;">
                        <div class="col-xs-6">
                            <li><a href="#" class="footer-link">Nosotros</a>
                            </li>
                        </div>
                        <div class="col-xs-6">
                            <li><a href="#" class="footer-link">Eventos</a>
                            </li>
                        </div>
                        <div class="col-xs-6">
                            <li><a href="#" class="footer-link">Transparencia</a>
                            </li>
                        </div>
                        <div class="col-xs-6">
                            <li><a href="#" class="footer-link">Trabajos</a>
                            </li>
                        </div>
                        <div class="col-xs-6">
                            <li><a href="#" class="footer-link">FAQ</a>
                            </li>
                        </div>
                        <div class="col-xs-6">
                            <li><a href="#" class="footer-link">Contactanos</a>
                            </li>
                        </div>
                        <div class="col-xs-6">
                            <li><a href="#" class="footer-link">Prensa</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>



            <div class="col-md-4 col-sm-4">
                <div class="hidden-xs row">
                    <div class="col-md-8 col-sm-12">
                        <h4 class="footer-title">¿Necesitas ayuda?</h4>
                        <ul style="list-style:none;padding-left:0;">
                            <li style="font-size:15px;font-weight:300;color:#fff;opacity:0.7;">Llamanos: +52 (999) 217 2807</li>
                            <li style="font-size:15px;font-weight:300;color:#fff;opacity:0.7;">WhatsApp: +52 (999) 217 2807</li>
                            <li style="font-size:15px;font-weight:300;color:#fff;opacity:0.7;">
                                <span>
                           <span>Email: </span>
                                <a style="font-size:13px;color:white;display:inline;line-height:30px;font-weight:300;opacity:0.7;" href=""> p.icaza95@gmail.com</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <a style="display:inline-block;margin:5px;transition:all 0.5s ease;" target="_blank" href="https://www.facebook.com/">
                            <img src="<%= asset_path('footer/facebook.png') %>" style="max-width:45px;" class="" />
                        </a>
                        <a style="display:inline-block;margin:5px;transition:all 0.5s ease;" target="_blank" href="https://twitter.com">
                            <img src="<%= asset_path('footer/twitter.png') %>" style="max-width:45px;" class="" />
                        </a>
                        <a style="display:inline-block;margin:5px;transition:all 0.5s ease;" target="_blank" href="//www.pinterest.com">
                            <img src="<%= asset_path('footer/pinterest.png') %>" style="max-width:45px;" class="" />
                        </a>
                        <a style="display:inline-block;margin:5px;transition:all 0.5s ease;" target="_blank" href="//instagram.com"><img src="<%= asset_path('footer/instagram.png') %>" style="max-width:45px;" class="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ">
         <div class="col-md-12 col-sm-12 ">
            <div style="border-top:solid 1px #3d3d3d;padding:19px 0 30px;font-size:13px;opacity:0.7; ">
               <img src="<%= asset_path('logo.png') %>" alt="MercadoCentral " width="50 " height="27 " style="display:inline-block; " class=" "/>
               <p style="display:inline-block; "><span>  </span>
               <span>Derechos de autor</span><span> </span><span>2016</span><span> </span>
               <a style="font-size:13px;color:white;display:inline;line-height:30px;font-weight:300;opacity:0.7; " href="#">Terminos y Condiciones</a><span>  </span><a style="font-size:13px;color:white;display:inline;line-height:30px;font-weight:300;opacity:0.7; " href="#">Politicas de privacidad</a></p>
            </div>
         </div>
      </div>
   </div>
</footer>
</div></div>